/* Small device styles */
@media screen and (max-width: 567px) {
  /* nav bar styles */
  #header-container nav {
    padding: 16px 20px;
    margin: 0;
  }
  #header-container .navbar {
    margin: 0;
    justify-content: space-between;
    width: auto;
  }
  #hamburger-menu {
    display: block;
  }
  .navbar .nav-links,
  .navbar .primary-btn {
    display: none;
  }
  /* banner styles */
  .banner {
    background-size: contain;
    background-position-y: 30%;
  }
  .banner-content .mic-logo {
    max-width: 200px;
    max-height: 200px;
    padding: 60px;
  }
  .banner-content .mic-logo img {
    width: 80%;
  }
}
