/* Small device styles */
@media screen and (max-width: 567px) {
  /* shared styles */
  .section-title {
    font-size: 2rem;
    line-height: 39px;
  }

  /* grouping styles */
  .about-podcast .section-container,
  .host-section .host-content {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    width: auto;
  }
  .choose-techWave .section-container,
  .featured-section .featured-section-container,
  .banner-content,
  #footer {
    padding: 40px 20px;
    width: auto;
  }

  .choose-techWave,
  .banner,
  .featured-section {
    padding: 0;
  }

  /* main styles */
  /* nav bar styles */
  #header-container nav {
    padding: 16px 20px;
    margin: 0;
  }
  #header-container .navbar {
    margin: 0;
    justify-content: space-between;
    width: auto;
  }
  #hamburger-menu {
    display: block;
  }
  .navbar .nav-links,
  .navbar .primary-btn {
    display: none;
  }
  /* banner styles */
  .banner {
    background-size: contain;
    background-position-y: 20%;
  }
  .banner-content .mic-logo {
    max-width: 200px;
    max-height: 200px;
    padding: 60px;
  }
  .banner-content .mic-logo img {
    width: 80%;
  }

  /* About The Podcast section */
  .about-podcast {
    padding: 0;
  }
  .about-podcast-des span {
    margin-top: 10px;
  }
  .about-podcast .section-container hr {
    margin: 40px 0;
  }
  .about-podcast .about-podcast-info {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .about-podcast-info .info-item h4 {
    font-size: 2.5rem;
    line-height: 48px;
  }
  /* Why Choose TechWave section styles */
  .choose-techWave-content {
    grid-template-columns: 1fr;
    column-gap: normal;
  }
  .choose-techWave-content .content-item {
    grid-column: auto;
    grid-row: auto;
  }
  /* Featured sections */
  .videos-container {
    flex-direction: column;
    /* margin: auto; */
  }
  .videos-container .video-card {
    max-width: 100%;
  }
  .host-section {
    margin-top: 60px;
  }
  .host-section .host-content {
    text-align: center;
  }
  .host-socials {
    justify-content: center;
  }

  /* footer section styles */
  #footer {
    background-size: 160%;
    background-position: 50% 20%;
  }
  #footer .footer-socials {
    max-width: 260px;
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr); */
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;

    gap: 16px;
  }

  .footer-container .footer-logo {
    width: 50%;
  }
}
