@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --transparent-white: rgba(255, 255, 255, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
/* shared styles */
main .section-container,
.navbar {
  max-width: 1200px;
  width: 75%;
  margin: 0 auto;
}
.flex-container {
  display: flex;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.primary-btn {
  cursor: pointer;
  padding: 12px 16px;
  border-radius: 25px;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  line-height: 19px;
  background-image: linear-gradient(
    47deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
}

.section-title {
  font-size: 3rem;
  color: white;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  text-transform: capitalize;
}
.card-title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 29px;
  color: white;
}
.card-description {
  color: var(--transparent-white);
  font-size: 1rem;
  line-height: 24px;
}
/* main styles */
/* header styles */
/* #header-container {
  padding: 30px 0 100px;
} */
header {
  background-color: #1a0b2e;
}
/* nav bar styles */
#header-container nav {
  border-bottom: 1px solid #412567;
  padding: 25px 0;
  background-color: #1a0b2e;
}
#header-container .navbar {
  justify-content: space-between;
  color: white;
  align-items: center;
}
.navbar .logo h2 {
  outline: 1px solid red;
}
.navbar .nav-links {
  gap: 30px;
}
.navbar .nav-item {
  list-style-type: none;
  padding: 8px 15px;
  border-radius: 5px;
}
.nav-item:hover {
  background-color: #5f1dbb;
}
.navbar .nav-item a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  line-height: 120%;
}
.navbar button i {
  margin-left: 5px;
}
#hamburger-menu {
  display: none;
}
/* banner styles */
.banner {
  background-image: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  background-position-x: center;
  padding: 100px 0;
  width: 100%;
  /* background-size: %; */
}
.banner .banner-content {
  max-width: 550px;
  margin: 0 auto;
}
.banner-content .badge {
  position: absolute;
  top: 0px;
  right: 15%;
  padding: 8px 16px;
  background-color: #00ff88;
  border-radius: 50px;
  font-weight: 600;
  line-height: 22px;
  font-size: 1.12rem;
  color: #1a0b2e;
  box-shadow: 0px 3px 15px rgba(0, 255, 136, 0.5);
}
.banner-content .mic-logo {
  background-image: url("./assets/hero-circle.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 350px;
  max-height: 350px;
  padding: 85px 75px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  position: relative;
}
.banner-content .mic-logo img {
  width: 60%;
}
.banner-content .content-title {
  color: white;
  font-weight: 800;
  font-size: 3.75rem;
  line-height: 73px;
  text-align: center;
  margin-top: 40px;
}
.banner-content .content-description {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  line-height: 19px;
  text-align: center;
  margin-top: 8px;
}
.banner-content .banner-buttons {
  margin-top: 24px;
  text-align: center;
}
@keyframes gradient-flow {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
/* button animations */
/* @keyframes gradient-flow {
  0% {
    background-image: linear-gradient(
      47deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    );
  }
  20% {
    background-image: linear-gradient(
      67deg,
      rgb(184, 174, 67),
      rgb(218, 27, 160),
      rgb(146, 61, 207)
    );
  }
  40% {
    background-image: linear-gradient(
      90deg,
      rgb(216, 199, 18),
      rgb(163, 30, 123),
      rgb(72, 15, 112)
    );
  }
  60% {
    background-image: linear-gradient(
      110deg,
      rgb(190, 180, 62),
      rgb(112, 13, 83),
      rgb(151, 80, 201)
    );
  }
  80% {
    background-image: linear-gradient(
      130deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    );
  }

  100% {
    background-image: linear-gradient(
      150deg,
      rgba(247, 233, 63, 1),
      rgba(251, 9, 180, 1),
      rgba(145, 0, 248, 1)
    );
  }
} */
.banner-buttons > button:first-child {
  background-size: 400% 100%;
  animation: gradient-flow 2s linear infinite;
  /* animation-direction: alternate-reverse; */
}
.banner-buttons img {
  vertical-align: middle;
  margin-right: 8px;
}
.banner-buttons .subscribe-button {
  background-image: none;
  background-color: transparent;
  color: #00ff88;
  border: 1px solid #00ff88;
  margin-left: 8px;
}

/* About The Podcast section */
.about-podcast {
  padding: 50px;
  padding-bottom: 120px;
  background-color: #1a0b2e;
}
.about-podcast-des {
  color: var(--transparent-white);
  font-size: 1rem;
  line-height: 20px;
  font-weight: 400;
  margin-top: 16px;
  text-align: center;
}
.about-podcast-des span {
  display: block;
  margin-top: 20px;
}
.separator {
  margin: 80px 0;
  height: 1px;
  border: none;
  background-color: #ffffff36;
}

.about-podcast .about-podcast-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  /* justify-content: space-between; */
}
.about-podcast-info .info-item h4 {
  color: #00ff88;
  font-size: 3rem;
  font-weight: 900;
  line-height: 58px;
  text-align: center;
}
.about-podcast-info .info-item p {
  font-size: 1rem;
  line-height: 20px;
  color: var(--transparent-white);
  text-transform: uppercase;
  margin-top: 16px;
}
/* Why Choose TechWave section styles */
.choose-techWave {
  background-color: #230e3d;
  padding: 120px 0;
}
.choose-techWave-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.choose-techWave-content .content-item:nth-child(1) {
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.choose-techWave-content .content-item:nth-child(2),
.choose-techWave-content .content-item:nth-child(3),
.choose-techWave-content .content-item:nth-child(4) {
  grid-column: span 2;
}

.choose-techWave-content .content-item {
  background: rgba(53, 17, 101, 0.4);
  padding: 40px;
  border-radius: 40px;
}
.choose-techWave-content .content-item h5 {
  margin: 16px 0;
}

/* Featured sections */
.featured-section {
  background-color: #1a0b2e;
  padding: 120px 0;
}

.videos-container {
  margin-top: 40px;
  gap: 30px;
}
.video-card {
  max-width: 380px;
  border-radius: 24px;
  background: rgb(37, 13, 68);
}
.video-card iframe {
  width: 100%;
  /* height: 300px; */
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}
.video-card .card-content {
  padding: 24px;
}
.video-card .card-description {
  margin: 12px 0;
}
.video-card .video-duration span {
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  color: #00ff88;
}
.video-card .video-duration img {
  vertical-align: middle;
  margin-right: 6px;
}
.host-section {
  margin-top: 120px;
}
.host-section .host-content {
  padding: 40px;
  background: rgba(53, 17, 101, 0.4);
  border-radius: 30px;
  gap: 24px;
  align-items: center;
  margin-top: 40px;
}
.host-content .host-info-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 39px;
  color: white;
  margin-bottom: 16px;
}
.host-socials {
  gap: 10px;
  margin-top: 16px;
  align-items: center;
}
.host-socials a {
  border-radius: 50%;
  border: 1px solid rgba(83, 60, 114, 1);
  padding: 10px;
}
.host-socials img {
  vertical-align: middle;
}
/* Footer Section styles */
#footer {
  background-image: url("./assets/footer-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 120px 0;
  background-color: #201143;
}
.footer-container {
  text-align: center;
}
.footer-container .footer-logo {
  width: 26%;
}
.footer-socials {
  margin: 30px auto;
  /* display: grid; */
  /* grid-template-columns: repeat(5, 1fr); */
  /* column-gap: 10px; */
  max-width: 544px;
  /* align-items: center;
  justify-items: center; */
  /* justify-items: center; */
  display: flex;
  justify-content: space-around;
  gap: 40;
}
/* .footer-socials .footer-socials-icon {
  justify-self: center;
} */
/* .footer-socials .footer-socials-icon:nth-child(2) {
  grid-column: span 2;
} */

.footer-socials-icon a {
  display: block;
  color: var(--transparent-white);
  text-decoration: none;
}
.footer-socials-icon img {
  vertical-align: middle;
  margin-right: 8px;
}

#footer .separator {
  margin: 90px auto 20px;
  width: 70%;
}
