@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
/* shared styles */
main > section,
.navbar {
  max-width: 1200px;
  width: 75%;
  margin: 0 auto;
}
.flex-container {
  display: flex;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.primary-btn {
  padding: 12px 16px;
  border-radius: 25px;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  line-height: 19px;
  background-image: linear-gradient(
    47deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
}

/* main styles */
/* header styles */
/* #header-container {
  padding: 30px 0 100px;
} */
header {
  background-color: #1a0b2e;
}
/* nav bar styles */
#header-container nav {
  border-bottom: 1px solid #412567;
  padding: 25px 0;
}
#header-container .navbar {
  justify-content: space-between;
  color: white;
  align-items: center;
}
.navbar .logo h2 {
  outline: 1px solid red;
}
.navbar .nav-links {
  gap: 30px;
}
.navbar .nav-item {
  list-style-type: none;
  padding: 5px 10px;
}
.navbar .nav-item a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  line-height: 120%;
}
.navbar button i {
  margin-left: 5px;
}
#hamburger-menu {
  display: none;
}
/* banner styles */
.banner {
  background-image: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  background-position-x: center;
  padding: 100px 0;
  width: 100%;
}
.banner .banner-content {
  max-width: 550px;
  margin: 0 auto;
}
.banner-content .mic-logo {
  background-image: url("./assets/hero-circle.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 350px;
  padding: 85px 75px;
  text-align: center;
  margin: 0 auto;
}
.banner-content .content-title {
  color: white;
  font-weight: 800;
  font-size: 3.75rem;
  line-height: 73px;
  text-align: center;
  margin-top: 40px;
}
.banner-content .content-description {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
  line-height: 19px;
  text-align: center;
  margin-top: 8px;
}
.banner-content .banner-buttons {
  margin-top: 24px;
  text-align: center;
}
.banner-buttons img {
  vertical-align: middle;
  margin-right: 8px;
}
.banner-buttons .subscribe-button {
  background-image: none;
  background-color: transparent;
  color: #00ff88;
  border: 1px solid #00ff88;
}

/* temp style for development inspect */
/* .banner-buttons .listen-button img {
  outline: groove green;
} */
